.title {
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 600;
  margin-bottom: 20px;
}

.outline {
  width: 400px;
  height: 3px;
  background-color: seagreen;
  border-radius: 3px;
}

.description {
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  width: 490px;
}

.search {
  width: 660px;
  background-color: gainsboro;
}

.search input {
  background-color: white;
  border: none;
  padding: 10px;
}

.search-result{
  border: 1px solid grey;
  margin-top: 10px;
  width: 800px;
}
