<h1 class="title">DICTIONARY OF EARTH</h1>
<div class="outline"></div>
<div class="description">
  Develop a creative way for the public and scientists alike to learn the
  definitions of Earth-related scientific and technical terms, using the
  power of crowdsourcing.
</div>

<div class="search">
  <input placeholder="Поиск..." #searchInput/>
  <!--<button (click)="search(searchInput.value)">Search</button>-->
</div>
<input placeholder="Поиск..." #searchInput/>

<div class="search-result">
  <ul style="marker:none;">
    <li *ngFor="let str of searchResult">
      <span>{{str}}</span>
    </li>
  </ul>
</div>
