<h1 class="title">DICTIONARY OF EARTH</h1>
<div class="outline"></div>
<div class="description">
  Develop a creative way for the public and scientists alike to learn the
  definitions of Earth-related scientific and technical terms, using the
  power of crowdsourcing.
</div>

<div class="search">
  <input (keyup)="onSearchInputChanged(searchInput.value)" placeholder="Поиск..." #searchInput/>
  <button (click)="search(searchInput.value)">Search</button>
</div>

<div class="search-result-container">
  <div *ngIf="notFound">
    <span>Results not found</span>
    <br>
    <a href="http://google.com">Try to find it in Google</a>
  </div>
  <div *ngFor="let str of searchResult">
    <span>{{str}}</span>
  </div>
</div>

<div class="top-five">
    <li *ngFor="let rec of topFive">
      {{rec.search}}
    </li>
</div>
